Chapter4/chapter4/invoice_crud_v1.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://v1.invoice.rest" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://v1.invoice.rest">
			<xs:element name="Invoice" type="invoice" />
			<xs:complexType name="invoice">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
					<xs:element minOccurs="0" name="companyName" type="xs:string" />
					<xs:element name="amount" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://v1.invoice.rest" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://v1.invoice.rest">
			<xs:import />
			<xs:element name="Invoice" type="invoice" />
		</xs:schema>
	</grammars>
	<resources base="http://localhost:9000">
		<resource path="/invoiceservice/v1/">
			<resource path="invoice/">
				<method name="POST">
					<request>
						<representation mediaType="application/json" />
					</request>
					<response>
						<representation mediaType="application/json" />
					</response>
				</method>
			</resource>
			<resource path="invoice/{id}">
				<param name="id" style="template" type="xs:string" />
				<method name="DELETE">
					<request></request>
					<response>
						<representation mediaType="application/octet-stream" />
					</response>
				</method>
				<method name="PUT">
					<request>
						<representation mediaType="application/json" />
					</request>
					<response>
						<representation mediaType="application/json" />
					</response>
				</method>
			</resource>
			<resource path="invoice/{id}/">
				<param name="id" style="template" type="xs:string" />
				<method name="GET">
					<request></request>
					<response>
						<representation mediaType="application/json" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>