Chapter1/chapter1/rest/invoicev1_impl/wadl/invoice_v1.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v1.invoice.rest">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://v1.invoice.rest" targetNamespace="http://v1.invoice.rest"
			elementFormDefault="unqualified">
			<xs:element name="Invoice" type="tns:invoice" />
			<xs:complexType name="invoice">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
					<xs:element minOccurs="0" name="companyName" type="xs:string" />
					<xs:element name="amount" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</grammars>
	<resources base="http://localhost:9000/">
		<resource path="/invoiceservice/v1/">
			<resource path="invoice/{id}/">
				<param name="id" style="template" type="xs:string" />
				<method name="GET">
					<request></request>
					<response>
						<representation mediaType="application/json" element="tns:Invoice" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>